body {
    margin: 0px;
    background-color: peachpuff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#inputButton {
    min-width: 75px;
    min-height: 20px;
    margin-top: 10px;
    align-self: center;
}

#gridContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
}